/* site styles */
/* global page elements */
html, body {
  min-height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100%;
}

header >  div,
main,
footer > div {
  width: 100%;
}

header {
  background: #333;
  padding: 8px 5px;
  margin-bottom: 15px;
  color: #fff;
  font: 24px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  padding: 8px 5px;
  border-top: 1px solid #ccc;
  margin-top: 15px;
  font: 12px/1 Helvetica, Arial, sans-serif;
  text-align: right;
}

@media (min-width: 500px) {
  header >  div,
  main,
  footer > div {
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  header >  div,
  main,
  footer > div {
    width: 900px;
    margin: 0 auto;
  }
}



/* image content */
#container-imageViewer ul {
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1;
}
#container-imageViewer li {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

#container-imageViewer img {
  width: 100%;
}

@media (min-width: 500px) {
  #container-imageViewer ul {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }
}

@media (min-width: 900px) {
  #container-imageViewer ul {
    -webkit-columns: 4;
    -moz-columns: 4;
    columns: 4;
  }
}



/* lightbox */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.25);
}

.modal-dialog {
  position: fixed;
  top: 15px;
  left: 0;
  width: 100%;
  margin-left: 0;
  background: #fff;
  border: 1px solid #333;
}

.modal-dialog img {
  width: 100%;
  height: auto;
  max-width: 600px;
  float: left; /* remove extraspace at bottom of image */
}

.modal-dialog .btn-control {
  position: absolute;
}

.modal-dialog .btn-close {
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
  background-color: rgba(255,255,255,0.90);
  display: flex;
  justify-content: space-between;
}

.modal-dialog .btn-close div:first-child {
  padding-top: 8px;
}

.modal-dialog .btn-prev {
  top: 50%;
  left: 10px;
}

.modal-dialog .btn-next {
  top: 50%;
  right: 10px;
}

.modal-dialog button {
  border: none;
  background: #fff;
  border-radius: 3px;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

.modal-dialog button:hover,
.modal-dialog button:active {
  background: #2f6fad;
  color: #fff;
}

.modal-dialog .btn-close button {
  background: transparent;
}

.modal-dialog .btn-close button:hover,
.modal-dialog .btn-close button:active {
  background: #000;
}

@media (min-width: 500px) {
  .modal-dialog {
    left: 50%;
    width: 400px;
    margin-left: -200px;
  }
}
